<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"  content="<SITE_TITLE>" />
<title><SITE_TITLE> :: About</title>
<link rel="stylesheet" type="text/css" href="templates/visions/styles/light.css" title="light" />
<link rel="alternate stylesheet" type="text/css" href="templates/visions/styles/dark.css" title="dark" />
<script type="text/javascript" src="templates/visions/jscript/styleswitcher.js"></script>
</head>

<body>

<div id="content">
<div id="nav">

<div class="navbar">

<div class="header">
<a href="index.php" title="latest image"><SITE_TITLE></a>
</div>

<div class="navmenu">
<LINK_TO_PAGED_ARCHIVE> |
<a href="index.php?x=about" title="about">About</a> | 
<a href="index.php?x=rss" title="RSS 2.0 feed">RSS</a>/<a href="index.php?x=atom" title="ATOM feed">Atom</a> | 
<a href="#" onclick="setActiveStyleSheet('light'); return false;"><img src="templates/visions/images/box_light.png" alt="light style" /></a>
<a href="#" onclick="setActiveStyleSheet('dark'); return false;"><img src="templates/visions/images/box_dark.png" alt="dark style" /></a>
</div>

</div>

</div>

<div id="page">
<table width="100%">
<tr>
      
<h3>Intro</h3>
<p>This is my &quot;photoblog&quot; or &quot;photographic web log&quot;.  The website is running on my <b>RASPBERRY PI</b> and all the photos are fetched from Buffalo NAS.</p>
<h3>Info</h3>
<p>Find more infomation on <a target="_blank" href=http://www.raspberrypi.org>www.raspberrypi.org</a>. </p>
<img src=http://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Raspberry_Pi_Logo.svg/50px-Raspberry_Pi_Logo.svg.png>
</td>
<td class="column">
<h3>Links</h3>
Below is a list of links for JJYY only:
<ul>
<li><a href="http://leoyy.no-ip.org:66/www/explorer" target="_blank">eXtplorer</a> | <a href="http://leoyy.no-ip.org:66/webFTP" target="_blank">webFTP</a></li>
<li><a href="http://leoyy.no-ip.org:62" target="_blank">Dahua IP camera (garden)</a></li>
<li><a href="http://leoyy.no-ip.org:65" target="_blank">Kaicong IP camera (garden)</a></li>
<li><a href="http://leoyy.no-ip.org:63" target="_blank">Dahua IP camera (livingroom)</a></li>
<li><a href="http://leoyy.no-ip.org:60" target="_blank">TP-link route admin page</a></li>
<li><a href="http://leoyy.no-ip.org:64" target="_blank">Media center admin page (NAS)</a></li>
<li>RASPBERRY PI SSH server (leoyy.no-ip.org:22)</li>
<li><a href="ftp://leoyy.no-ip.org:2121" target="_blank">RASPBERRY PI FTP server</a></li>
</ul>
</td>
</tr>
</table>
</div>

<div id="copyright">
&copy;2007 <a href="http://yoursite.com">Your name here</a> &bull; Some rights reserved<br />
<a href="http://yovko.net/download/pixelpost/">Simple Visions</a> design template by <a href="http://yovko.net">Yovko Lambrev</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY</a><br />
Valid <a href="http://validator.w3.org/check/referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &bull; Code is poetry
</div>

</div>

<br clear="all" />

</body>
</html>
